<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>

  <body>
    <!-- Navigation Bar-->
    <header id="topnav">
      <% include partials/header %>
    </header>
    <!-- End Navigation Bar-->

    <div class="wrapper">
      <div class="container">
        <!-- Page-Title -->
        <div class="row">
          <div class="col-sm-12">
            <h4 class="page-title">Thanh toán</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-7">
            <form role="form" method="GET" action="/add-order">
              <div class="form-group contact-search m-b-30">
                <input
                  type="text"
                  id="search"
                  class="form-control"
                  placeholder="Tìm kiếm tên sản phẩm"
                  name="TENSP"
                />
                <button type="submit" class="btn btn-white">
                  <i class="fa fa-search"></i>
                </button>
              </div>
              <!-- form-group -->
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-7">
            <% listProduct.forEach(function(prod){ %>
            <div class="card-box m-b-10">
              <div class="table-box opport-box">
                <div class="table-detail">
                  <img
                    src="/image/<%= prod.image %>"
                    alt="img"
                    class="img-circle thumb-lg m-r-15"
                  />
                </div>

                <div class="table-detail">
                  <div class="member-info">
                    <h4 class="m-t-0"><b><%= prod.TENSP %></b></h4>
                    <p class="text-dark m-b-5">
                      <b>Nhà cung cấp: </b>
                      <span class="text-muted"><%= prod.MANCC %></span>
                    </p>
                  </div>
                </div>
                <div class="table-detail">
                  <div class="member-info">
                    <p class="text-dark m-b-5">
                      <b>Giá: </b>
                      <span class="text-muted"><%= prod.GIA %>đ</span>
                    </p>
                  </div>
                </div>

                <div class="table-detail table-actions-bar">
                  <a
                    href="/add-to-order/<%= prod.TENSP %>"
                    class="table-action-btn"
                    ><i class="md md-add-shopping-cart"></i
                  ></a>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
          <!-- end col -->

          <div class="col-lg-5">
            <div class="card-box">
              <h4 class="text-dark header-title m-t-0">Hoá đơn</h4>

              <div class="table-responsive">
                <table class="table table-actions-bar m-b-0">
                  <thead>
                    <tr>
                      <th>Tên thuốc</th>
                      <th>Nhà cung cấp</th>
                      <th style="min-width: 80px;">Giá thành</th>
                      <th>Số lượng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if(orderProduct != null)
                    orderProduct.forEach(function(prod){ %>
                    <tr>
                      <td>
                        <%=prod.TENSP%>
                      </td>
                      <td>
                        <%=prod.MANCC%>
                      </td>
                      <td><span class="text-custom"><%=prod.GIA%></span></td>
                      <td>
                        <%=prod.qty%>
                      </td>
                      <td>
                        <a
                          href="/delete/<%=prod.TENSP%>"
                          class="table-action-btn"
                          ><i class="md md-close"></i
                        ></a>
                      </td>
                    </tr>

                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-lg-6" style="font-size:20px">
              Tổng tiền:<% if(session.order){ %>
              <strong><%= session.order.totalPrice%>đ</strong>
              <% } else{%>
              <strong>0đ</strong>
              <% } %>
            </div>

            <div class="col-lg-2"></div>
            <% if(session.order && session.order.totalPrice != 0){ %>
            <div class="col-lg-4">
              <a
                href="/check-out"
                class="btn btn-danger btn-rounded waves-effect waves-light"
                style="font-size:15px"
                >Thanh toán</a
              >
            </div>
            <% } %>
          </div>
        </div>

        <!-- Footer -->

        <!-- End Footer -->
      </div>
      <!-- end container -->
    </div>
    <!-- end wrapper -->

    <!-- Modal -->
    <div id="custom-modal" class="modal-demo">
      <button type="button" class="close" onclick="Custombox.close();">
        <span>&times;</span><span class="sr-only">Close</span>
      </button>
      <h4 class="custom-modal-title">Add Leads</h4>
      <div class="custom-modal-text text-left">
        <form role="form">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Enter name"
            />
          </div>

          <div class="form-group">
            <label for="category">Category</label>
            <input
              type="text"
              class="form-control"
              id="category"
              placeholder="Enter category"
            />
          </div>

          <div class="form-group">
            <label for="number">Contact number</label>
            <input
              type="text"
              class="form-control"
              id="number"
              placeholder="Enter number"
            />
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Enter email"
            />
          </div>

          <div class="form-group">
            <label for="status">Status</label>
            <input
              type="text"
              class="form-control"
              id="status"
              placeholder="status"
            />
          </div>

          <button
            type="submit"
            class="btn btn-default waves-effect waves-light"
          >
            Save
          </button>
          <button
            type="button"
            class="btn btn-danger waves-effect waves-light m-l-10"
          >
            Cancel
          </button>
        </form>
      </div>
    </div>

    <!-- jQuery  -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/detect.js"></script>
    <script src="assets/js/fastclick.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/jquery.blockUI.js"></script>
    <script src="assets/js/waves.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/jquery.nicescroll.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>

    <!-- Modal-Effect -->
    <script src="assets/plugins/custombox/js/custombox.min.js"></script>
    <script src="assets/plugins/custombox/js/legacy.min.js"></script>

    <!--Morris Chart-->
    <script src="assets/plugins/morris/morris.min.js"></script>
    <script src="assets/plugins/raphael/raphael-min.js"></script>

    <script
      type="text/javascript"
      src="assets/pages/jquery.leads.init.js"
    ></script>

    <!-- App core js -->
    <script src="assets/js/jquery.core.js"></script>
    <script src="assets/js/jquery.app.js"></script>
  </body>
</html>
