<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>

  <body>
    <header id="topnav">
      <% include partials/header %>
    </header>

    <div class="wrapper">
      <div class="container">
        <div class="col-md-3">
          <div class="grid-container">
            <form role="search" method="GET" action="/drug-list">
              <div class="row">
                <div class="card-box">
                  <h4 class="header-title m-t-0">
                    <b>Tên thuốc</b>
                  </h4>
                  <div class="row">
                    <input
                      type="text"
                      placeholder="Nhập tên thuốc..."
                      class="form-control"
                      name="TENSP"
                    />
                  </div>
                </div>

                <div class="card-box">
                  <h4 class="header-title m-t-0">
                    <b>Loại thuốc</b>
                  </h4>
                  <div class="row">
                    <ul style="list-style-type: none;">
                      <li>
                        <input
                          id="giamdau"
                          type="radio"
                          name="LOAISP"
                          value="GIAMDAU"
                        /><label for="giamdau">
                          Giảm đau hạ sốt
                        </label>
                      </li>
                      <li>
                        <input
                          id="tieuhoa"
                          type="radio"
                          name="LOAISP"
                          value="TIEUHOA"
                        />
                        <label for="tieuhoa">
                          Tiêu hóa
                        </label>
                      </li>
                      <li>
                        <input
                          id="hohap"
                          type="radio"
                          name="LOAISP"
                          value="HOHAP"
                        />
                        <label for="hohap">
                          Hô hấp
                        </label>
                      </li>
                      <li>
                        <input
                          id="diung"
                          type="radio"
                          name="LOAISP"
                          value="DIUNG"
                        />
                        <label for="diung">
                          Chống dị ứng
                        </label>
                      </li>
                      <li>
                        <input
                          id="timmach"
                          type="radio"
                          name="LOAISP"
                          value="TIMMACH"
                        />
                        <label for="timmach"> Tim mạch huyết áp </label>
                      </li>
                      <li>
                        <input
                          id="khangvirus"
                          type="radio"
                          name="LOAISP"
                          value="KHANGVIRUS"
                        />
                        <label for="khangvirus">
                          Kháng virus
                        </label>
                      </li>
                      <li>
                        <input
                          id="khangviem"
                          type="radio"
                          name="LOAISP"
                          value="KHANGVIEM"
                        />
                        <label for="khangviem">
                          Kháng viêm
                        </label>
                      </li>
                      <li>
                        <input
                          id="vitamin"
                          type="radio"
                          name="LOAISP"
                          value="VITAMIN"
                        />
                        <label for="vitamin">
                          Vitamin và khoáng chất
                        </label>
                      </li>
                      <li>
                        <input
                          id="tietnieu"
                          type="radio"
                          name="LOAISP"
                          value="TIETNIEU"
                        />
                        <label for="tietnieu"> Tiết niệu </label>
                      </li>
                      <li>
                        <input
                          id="khangnam"
                          type="radio"
                          name="LOAISP"
                          value="KHANGNAM"
                        />
                        <label for="khangnam"> Kháng nấm </label>
                      </li>
                      <li>
                        <input
                          id="tieuduong"
                          type="radio"
                          name="LOAISP"
                          value="TIEUDUONG"
                        />
                        <label for="tieuduong">
                          Tiểu đường
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row">
                <button
                  type="submit"
                  class="btn btn-success btn-rounded waves-effect waves-light"
                >
                  <span class="btn-label"><i class="fa fa-search"></i></span>
                  Tìm kiếm
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card-box">
            <h4 class="m-t-0 header-title"><b>Danh sách thuốc</b></h4>

            <div class="p-20">
              <table class="table m-0">
                <thead>
                  <tr>
                    <th>Mã thuốc</th>
                    <th>Tên thuốc</th>
                    <th>Mã loại</th>
                    <th>Nhà cung cấp</th>
                    <th>Số lượng</th>
                    <th>Ngày hết hạn</th>
                  </tr>
                </thead>
                <tbody>
                  <% listProduct.forEach(function(prod){ %>
                  <tr>
                    <td><%= prod.MASP %></td>
                    <td><%= prod.TENSP %></td>
                    <td><%= prod.MALOAI %></td>
                    <td><%= prod.MANCC %></td>
                    <td><%= prod.SL %></td>
                    <td><%= prod.NGAYHETHAN %></td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% include partials/script %>
  </body>
</html>
